/* For screens smaller than 768px */
@media (max-width: 768px) {
  .navbar a.logo {
    margin: 0;
  }

  .menu {
    margin: 0 35px;
  }

  .float {
    display: none;
    position: absolute;
    background-color: #333;
    right: 0;
    left: 0;
    top: 74px;
    text-align: center;
    padding: 16px 0;
  }

  .menu a + a {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .float {
    display: block;
  }

  .hamburger {
    display: block;
    margin: 9px -12px;
    font-size: 23px;
  }

  .navbar a {
    float: none;
    display: block;
    text-align: center;
  }

  /* Adjustments for .welcome and .headerCard */
  .welcome {
    height: auto;
    padding-top: 60px; /* Adjust padding for smaller screens */
  }
  .headerCard img {
    margin: 0 40%; /* Center the image */
  }
  .headerCard h1 {
    margin: 0; /* Remove margin from h1 */
  }
  .headerCard {
    margin-top: 10px; /* Adjust the margin from the top */
  }
}

@media (max-width: 470px) {
  .headerCard img {
    margin: 0 30%; /* Center the image */
  }
}

@media (max-width: 324px) {
  .headerCard h1 {
    font-size: 20px;
  }
  .headerCard img {
    margin: 0 25%; /* Center the image */
  }
}

@media (max-width: 276px) {
  .headerCard h1 {
    font-size: 17px;
  }
}

@media (max-width: 241px) {
  .headerCard h1 {
    font-size: 15px;
  }
}

@media (max-width: 267px) {
  .headerCard img {
    margin: 0 20%; /* Center the image */
  }
}

@media (max-width: 221px) {
  .menu {
    margin: 0 24px;
  }
}
